* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-font: 'Secular One', sans-serif;
$secundary-font: 'Varela Round', sans-serif;

$colors: (
  bg-primary-light: #ffebf2,
  bg-secundary-light: #a3e8d6,
  bg-yellow-light: #fcfa96,
  text-primary: #000,
  text-secundery: #999999
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};

nav {
  height: 70px;
  background: color(bg-primary-light);
  margin: 0 0 78px;
  padding: 18px 151px 17px 150px;

  a {
    font-family: $primary-font;
    font-size: 15px;
    letter-spacing: 0.05px;
  }
};

section.lokacija {
  background-image: url('../img/krivudava-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 337px;
  margin-top: -148px;
  padding-top: 148px;

  .container {
    h1 {
      font-size: 55px;
      letter-spacing: 0.18px;
      text-transform: uppercase;
    }
    
    p {
      padding-right: 23rem;
    }

    .paginacia {
      padding-top: 1rem;
      font-size: 12px;
      span {
        font-family: $secundary-font;
        color: color(text-secundery);
      }
    }
  }
}

.card-location {
  margin-top: 45px;
  .card {
    height: 420px;
    border: none;
    border-radius: none;
    box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);

    .card-body {
      margin: 0 70px 8px 23px;
      
      .main-title {
        // background: red;
        width: 547px;
        font-size: 22px;
        border-bottom: solid 1.2px #e7e7e7;
        letter-spacing: 0.07px;
        margin-top: 15px;
        padding-bottom: 8px;
        font-family: $primary-font;
  
        img {
          padding-bottom: 5px;
        }
      }

      .row {
        padding-top: 8px;

        .card-title {
          font-size: 14px;
        }

        .card-text {
          text-decoration: underline;
          font-family: $secundary-font;
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: 0.05px;
          margin-bottom: 0;

          &:nth-child(3) {
            margin-bottom: 1rem;
          }

          &:nth-child(4) {
            text-decoration: none;
          }
        }
        
        .dostupno {
          span {
            display: inline-block;
            border-radius: 3px;
            font-size: 13px;
            font-family: $primary-font;
            letter-spacing: 0.04px;
            margin-right: 4px;
            margin-bottom: 9px;
            
            &:nth-child(2){
              background: color(bg-primary-light);
              padding: 3px 8px 1px 7px;
            }

            &:nth-child(3){
              padding: 3px 6px 1px 7px;
              background: color(bg-secundary-light);
            }

            &:nth-child(4){
              padding: 2px 7px 2px 6px;
              background: color(bg-yellow-light);
            }
          }
        }

      }

      .napomena {
        margin-bottom: 26px;

        .border-line-minus {
          width: 373px;
          height: 1px;
          border-top: dashed 2px #dddddd;
        }

        .obavezno-porucivanje {
          width: 188px;
          height: 18px;
          font-family: $secundary-font;
          font-size: 11px;
          line-height: 1.64;
          letter-spacing: 0.04px;
          text-align: right;
          color: color(text-secundery);
        }
      }

      .slike-sa-lokacija {
        .img-radnje {
          margin-right: 8px;
        }
      }
    }
    
    .img-map-1 {
      width: 420px;
      height: 100%;
      margin-left: -40px;
      background-image: url('../img/lokacija-dorcol.PNG');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}