* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav.navbar {
  height: 70px;
  background: #ffebf2;
  margin: 0 0 78px;
  padding: 18px 151px 17px 150px;
}

nav.navbar .main-nav {
  background-color: rgba(255, 235, 242, 0.95);
  padding: 1rem;
}

nav.navbar a {
  font-family: "Secular One", sans-serif;
  font-size: 15px;
  letter-spacing: 0.05px;
}

@media (max-width: 576px) {
  nav.navbar .logo-nav {
    padding-left: 1rem;
  }
  nav.navbar button {
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  nav.navbar {
    padding: 18px 0px 17px 0px;
  }
}

section.lokacija {
  background-image: url("../img/krivudava-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 337px;
  margin-top: -148px;
  padding-top: 148px;
}

section.lokacija .container h1 {
  font-size: 55px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
}

section.lokacija .container p {
  padding-right: 23rem;
}

section.lokacija .container .paginacia {
  padding-top: 1rem;
  font-size: 12px;
}

section.lokacija .container .paginacia span {
  font-family: "Varela Round", sans-serif;
  color: #999999;
}

@media (max-width: 576px) {
  section.lokacija {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  section.lokacija {
    padding-top: 6rem;
  }
}

@media (max-width: 1024px) {
  section.lokacija .container p {
    padding-right: 0px;
  }
}

@media (min-width: 1441px) {
  section.lokacija {
    background-position: center center;
  }
}

.card-location {
  margin-top: 45px;
}

.card-location .card {
  border: none;
  border-radius: none;
  margin-bottom: 43px;
  -webkit-box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);
          box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);
}

.card-location .card .contact-info {
  padding-left: 42px;
  padding-bottom: 33px;
  padding-top: 38px;
  padding-right: 42px;
}

.card-location .card .contact-info .card-body {
  width: 547px;
  margin: 0;
  padding: 0;
}

.card-location .card .contact-info .card-body .main-title {
  font-size: 22px;
  border-bottom: solid 1.2px #e7e7e7;
  letter-spacing: 0.07px;
  padding-bottom: 8px;
  font-family: "Secular One", sans-serif;
}

.card-location .card .contact-info .card-body .main-title img {
  padding-bottom: 5px;
}

.card-location .card .contact-info .card-body .contact-informations {
  margin-top: 8px;
}

.card-location .card .contact-info .card-body .contact-informations .card-title {
  font-size: 14px;
}

.card-location .card .contact-info .card-body .contact-informations .card-text {
  text-decoration: underline;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05px;
  margin-bottom: 0;
}

.card-location .card .contact-info .card-body .contact-informations .card-text:nth-child(3) {
  margin-bottom: 1rem;
}

.card-location .card .contact-info .card-body .contact-informations .card-text:nth-child(4) {
  text-decoration: none;
}

.card-location .card .contact-info .card-body .dostupno span {
  display: inline-block;
  border-radius: 3px;
  font-size: 13px;
  font-family: "Secular One", sans-serif;
  letter-spacing: 0.04px;
  margin-right: 4px;
  margin-bottom: 9px;
}

.card-location .card .contact-info .card-body .dostupno span:nth-child(2) {
  background: #ffebf2;
  padding: 3px 8px 1px 7px;
}

.card-location .card .contact-info .card-body .dostupno span:nth-child(3) {
  padding: 3px 6px 1px 7px;
  background: #a3e8d6;
}

.card-location .card .contact-info .card-body .dostupno span:nth-child(4) {
  padding: 2px 7px 2px 6px;
  background: #fcfa96;
}

.card-location .card .contact-info .card-body .napomena {
  margin-bottom: 26px;
  margin-top: 14px;
}

.card-location .card .contact-info .card-body .napomena .border-line-minus {
  width: 373px;
  height: 1px;
  border-top: dashed 2px #dddddd;
}

.card-location .card .contact-info .card-body .napomena .obavezno-porucivanje {
  width: 188px;
  height: 18px;
  font-family: "Varela Round", sans-serif;
  font-size: 11px;
  line-height: 1.64;
  letter-spacing: 0.04px;
  text-align: right;
  color: #999999;
}

.card-location .card .contact-info .card-body .slike-sa-lokacija .img-radnje {
  margin-right: 1px;
}

@media (max-width: 768px) {
  .card-location .card .contact-info .card-body {
    width: 100%;
  }
  .card-location .card .contact-info .card-body .napomena .border-line-minus {
    width: 100%;
  }
  .card-location .card .contact-info .card-body .slike-sa-lokacija .img-radnje {
    margin-bottom: 1rem;
  }
}

.card-location .card .contact-map {
  width: 420px;
}

.card-location .card .contact-map .img-map-1 {
  width: 100%;
  height: 420px;
  background-image: url("../img/lokacija-dorcol.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  .card-location .card .contact-map {
    width: 100%;
  }
  .card-location .card .contact-map .img-map-1 {
    height: 250px;
  }
}

@media (max-width: 1024px) {
  .card-location {
    margin-top: 2.5rem;
    padding: 0 1rem;
  }
}

.uskoro-nbg {
  width: 100%;
  height: auto;
  margin-top: 69px;
  position: relative;
  background-image: url("../img/pink-nbg-1.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.uskoro-nbg .krofna-na-zidu {
  background-image: url("../img/krofne-na-zidu-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 346px;
  height: 354px;
}

.uskoro-nbg .rodjendan-27 {
  width: 278px;
  height: 346px;
  background-image: url("../img/rodjendan-27-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 110px;
  margin-left: 27px;
  margin-right: 68px;
}

.uskoro-nbg .uskoro-text {
  width: 341px;
  height: 208px;
  padding-top: 121px;
  font-family: "Secular One", sans-serif;
  font-size: 45px;
  line-height: 1.22;
  letter-spacing: 0.15px;
  color: white;
}

@media (max-width: 768px) {
  .uskoro-nbg .uskoro-text {
    padding-top: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .uskoro-nbg .krofna-na-zidu {
    width: 304px;
    height: 296px;
  }
  .uskoro-nbg .rodjendan-27 {
    width: 273px;
    height: 340px;
  }
}

@media (max-width: 1024px) {
  .uskoro-nbg .krofna-na-zidu {
    display: none;
  }
  .uskoro-nbg .rodjendan-27 {
    display: none;
  }
}

.slatkoteka-drugi-gradovi {
  height: 376px;
  background-image: url("../img/krivudava-1.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.slatkoteka-drugi-gradovi h2 {
  font-family: "Secular One", sans-serif;
  font-size: 35px;
  letter-spacing: 0.12px;
}

.slatkoteka-drugi-gradovi p {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  margin-top: 16px;
  line-height: 1.13;
  letter-spacing: 0.05px;
  color: #999999;
}

.slatkoteka-drugi-gradovi p a {
  color: #f650a0;
}

@media (max-width: 576px) {
  .slatkoteka-drugi-gradovi {
    padding: 0 1rem;
  }
}

.nagrade-informacije {
  margin-top: 66px;
  margin-bottom: 41px;
}

.nagrade-informacije .box {
  background: #d8d8d8;
  height: 42px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.nagrade-informacije .box:last-child {
  margin-right: 0px;
}

.nagrade-informacije .info-top {
  padding-bottom: 57px;
  width: 200px;
}

.nagrade-informacije .info-top h4 {
  font-family: "Secular One", sans-serif;
  font-size: 18px;
  letter-spacing: 0.13px;
  padding-bottom: 24px;
  margin-bottom: 0px;
}

.nagrade-informacije .info-top .nagrade {
  min-width: 200px;
}

.nagrade-informacije .info-top .nagrade .top-50 {
  padding-right: 19px;
}

.nagrade-informacije .info-top .podrzali {
  padding-left: 30px;
}

.nagrade-informacije .info-top .podrzali .box-1 {
  width: 114px;
}

.nagrade-informacije .info-top .podrzali .box-2 {
  width: 81px;
}

.nagrade-informacije .info-top .podrzali .box-3 {
  width: 109px;
}

.nagrade-informacije .info-top .podrzali .box-4 {
  width: 114px;
}

.nagrade-informacije .info-top .podrzali .box-5 {
  width: 81px;
}

.nagrade-informacije .info-top .podrzali .box-6 {
  width: 109px;
}

.nagrade-informacije .info-top .podrzali .box-7 {
  width: 114px;
}

.nagrade-informacije .info-top .podrzali .box-8 {
  width: 104px;
}

.nagrade-informacije .info-bottom h4 {
  font-family: "Secular One", sans-serif;
  font-size: 18px;
  letter-spacing: 0.13px;
  padding-bottom: 24px;
  margin-bottom: 0px;
}

.nagrade-informacije .info-bottom .reference .box-9 {
  width: 121px;
}

.nagrade-informacije .info-bottom .reference .box-10 {
  width: 85px;
}

.nagrade-informacije .info-bottom .reference .box-11 {
  width: 121px;
}

.nagrade-informacije .info-bottom .reference .box-12 {
  width: 85px;
}

.nagrade-informacije .info-bottom .reference .box-13 {
  width: 64px;
  margin-right: 52px;
}

.nagrade-informacije .info-bottom .ketering h4 {
  padding-bottom: 12px;
}

.nagrade-informacije .info-bottom .ketering button {
  width: 105px;
  height: 30px;
  padding: 5px 7px 5px 8px;
  border-radius: 1.9px;
  color: white;
  border: none;
  background-color: #f650a0;
  font-family: "Secular One", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

@media (max-width: 576px) {
  .nagrade-informacije {
    padding: 0 1rem;
  }
  .nagrade-informacije .info-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nagrade-informacije .info-top .podrzali {
    padding-left: 0px;
    padding-top: 1.5rem;
  }
  .nagrade-informacije .info-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  background-color: #ffebf2;
  position: relative;
  padding-top: 67px;
}

footer .logo-footer {
  width: 272px;
}

footer .logo-footer img {
  width: 176px;
  height: 48px;
}

footer .logo-footer p {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  padding: 17px 0px;
}

footer .logo-footer .drustvene-mreze a {
  padding-right: 20px;
}

footer .logo-footer .drustvene-mreze a:last-child {
  padding-right: 0px;
}

footer .footer-nav {
  padding-left: 61px;
}

footer .footer-nav ul li a {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  color: #000;
  letter-spacing: 0.05px;
  margin-bottom: 0;
  padding: 0px;
  padding-bottom: 8px;
}

footer .footer-nav .footer-info-links {
  padding-left: 52px;
  padding-right: 80px;
}

footer .footer-nav .footer-info-links ul li a {
  font-size: 14px;
}

@media (max-width: 768px) {
  footer .footer-nav .footer-info-links {
    padding-right: 0px;
  }
}

footer .prijava-za-posao {
  width: 189px;
}

footer .prijava-za-posao h5 {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  color: #f650a0;
}

footer .prijava-za-posao button {
  width: 152px;
  height: 30px;
  padding: 5px 6px 5px 7px;
  border-radius: 1.9px;
  background-color: #f650a0;
  border: none;
  font-family: "Secular One", sans-serif;
  font-size: 14px;
  text-align: center;
  color: white;
}

@media (max-width: 1200px) {
  footer .prijava-za-posao {
    display: block;
    width: 100%;
  }
}

footer .sva-prava-zadrzava {
  width: 547px;
  height: 17px;
  padding-top: 56px;
  padding-bottom: 28px;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #656565;
}

@media (max-width: 1200px) {
  footer .sva-prava-zadrzava {
    padding-top: 2rem;
  }
}

footer .kriva-footer-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
}

footer .kriva-footer-2 {
  position: absolute;
  bottom: 0;
  right: 366px;
  z-index: -10;
}

footer .footer-krofna {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -10;
}

@media (max-width: 576px) {
  footer {
    padding-top: 2rem;
  }
  footer .logo-footer {
    padding-left: 1rem;
    width: 100%;
  }
  footer .footer-nav {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
  footer .prijava-za-posao {
    padding-top: 1rem;
    padding-left: 1rem;
  }
  footer .sva-prava-zadrzava {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  footer .footer-krofna {
    display: none;
  }
  footer .kriva-footer-2 {
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */