* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-font: 'Secular One', sans-serif;
$secundary-font: 'Varela Round', sans-serif;

$colors: (
  bg-primary-light: #ffebf2,
  bg-secundary-light: #a3e8d6,
  bg-yellow-light: #fcfa96,
  text-primary: #000,
  text-secundery: #999999,
  text-pink: #f650a0
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};

nav.navbar {
  height: 70px;
  background: color(bg-primary-light);
  margin: 0 0 78px;
  padding: 18px 151px 17px 150px;

  .main-nav {
    background-color: rgba(color(bg-primary-light), 0.95);
    padding: 1rem;
  }

  a {
    font-family: $primary-font;
    font-size: 15px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
  }

  .shopping-icon {
    padding-top: 1rem;
    font-family: $primary-font;
    a {
      text-decoration: none;
      color:black;

      &:first-child {
        color: color(text-pink)
      }
    }

    i {
      padding-left: 19px;
      span {
        font-family: $primary-font;
        color: color(text-pink)
      }
    }
  }

  @media (max-width: 576px) {
    .logo-nav {
      padding-left: 1rem;
    }

    .shopping-icon {
      margin-right: 1rem;
    }
  }

  @media (max-width: 768px) {
    padding: 0px 0px 0px 0px;
    height: auto;
  }

  @media (max-width: 1200px) {
    padding: 0.5rem 0px 17px 0px;
  }
};

section.lokacija {
  background-image: url('../img/krivudava-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 337px;
  margin-top: -148px;
  padding-top: 148px;

  .container {
    h1 {
      font-size: 55px;
      letter-spacing: 0.18px;
      text-transform: uppercase;
    }
    
    p {
      padding-right: 24rem;
    }

    .paginacia {
      padding-top: 1rem;
      font-size: 12px;
      span {
        font-family: $secundary-font;
        color: color(text-secundery);
      }
    }
  }

  @media (max-width: 576px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (max-width: 768px) {
    & {
      padding-top: 6rem;
    }
  }

  @media (max-width: 1024px){
    .container {
      p {
        padding-right: 0px;
      }
    }
  }

  @media (min-width: 1441px) {
    background-position: center center ;
  }
}

.card-location {
  margin-top:45px;
  .card {
    border: none;
    border-radius: none;
    margin-bottom: 43px;
    box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);
    
    .contact-info {
      padding-left: 42px;
      padding-bottom: 33px;
      padding-top: 38px;
      padding-right: 42px;
      .card-body {
        width: 547px;
        margin: 0;
        padding: 0;
        .main-title {
          font-size: 22px;
          border-bottom: solid 1.2px #e7e7e7;
          letter-spacing: 0.07px;
          padding-bottom: 8px;
          font-family: $primary-font;
    
          img {
            padding-bottom: 5px;
          }
        }

        .contact-informations {
          margin-top: 8px;

          .card-title {
            font-size: 14px;
          }

          .card-text {
            text-decoration: underline;
            font-family: $secundary-font;
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: 0.05px;
            margin-bottom: 0;
  
            &:nth-child(3) {
              margin-bottom: 1rem;
            }
  
            &:nth-child(4) {
              text-decoration: none;
            }
          }
        }

        .dostupno {
          span {
            display: inline-block;
            border-radius: 3px;
            font-size: 13px;
            font-family: $primary-font;
            letter-spacing: 0.04px;
            margin-right: 4px;
            margin-bottom: 9px;
            
            &:nth-child(2){
              background: color(bg-primary-light);
              padding: 3px 8px 1px 7px;
            }

            &:nth-child(3){
              padding: 3px 6px 1px 7px;
              background: color(bg-secundary-light);
            }

            &:nth-child(4){
              padding: 2px 7px 2px 6px;
              background: color(bg-yellow-light);
            }
          }
        }

        .napomena {
          margin-bottom: 26px;
          margin-top: 14px;
  
          .border-line-minus {
            width: 373px;
            height: 1px;
            border-top: dashed 2px #dddddd;
          }
  
          .obavezno-porucivanje {
            width: 188px;
            height: 18px;
            font-family: $secundary-font;
            font-size: 11px;
            line-height: 1.64;
            letter-spacing: 0.04px;
            text-align: right;
            color: color(text-secundery);
          }
        }

        .slike-sa-lokacija {
          .img-radnje {
            margin-right: 1px;
          }
        }
      }

      @media (max-width: 768px) {
        .card-body {
          width: 100%;

          .napomena {
            .border-line-minus {
              width: 100%;
            }
          }

          .slike-sa-lokacija {
            .img-radnje {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }

    .contact-map {
      width: 420px;
      .img-map-1 {
        width: 100%;
        height: 420px;
        background-image: url('../img/lokacija-dorcol.PNG');
        background-repeat: no-repeat;
        background-size: cover;
      }
      
    }
  }

  @media (max-width: 991px) {
    .card {
      .contact-map {
        width: 100%;
        .img-map-1 {
          height: 250px;
        }
      }
    }
  }
  
  @media (max-width: 1024px) {
    margin-top:2.5rem;
    padding: 0 1rem;
  }
}

.uskoro-nbg {
  width: 100%;
  height: auto;
  margin-top: 69px;
  position: relative;
  background-image: url('../img/pink-nbg-1.png');
  background-repeat: no-repeat;
  background-position: center center ;

  .krofna-na-zidu {
    background-image: url('../img/krofne-na-zidu-1.png');
    background-repeat: no-repeat;
    background-position: center center ;
    width: 346px;
    height: 354px;
  }

  .rodjendan-27 {
    width: 278px;
    height: 346px;
    background-image: url('../img/rodjendan-27-1.png');
    background-repeat: no-repeat;
    background-position: center center ;
    margin-top: 110px;
    margin-left: 27px;
    margin-right: 68px;
  }

  .uskoro-text {
    width: 341px;
    height: 208px;
    padding-top: 121px;
    font-family: $primary-font;
    font-size: 45px;
    line-height: 1.22;
    letter-spacing: 0.15px;
    color: white;

  }

  @media (max-width: 768px) {
    .uskoro-text {
      padding-top: 1.5rem;
    }
  }

  @media (max-width: 1200px) {
    .krofna-na-zidu {
      width: 304px;
      height: 296px;
    }

    .rodjendan-27 {
      width: 273px;
      height: 340px;
    }
  }

  @media (max-width: 1024px) {
    .uskoro-text {
      padding-top: 1.5rem;
    }

    .krofna-na-zidu {
      display: none;
    }
  
    .rodjendan-27 {
      display: none;
    }

  }
}

.slatkoteka-drugi-gradovi {
  height: 376px;
  background-image: url('../img/krivudava-1.png');
  background-repeat: no-repeat;
  background-position:center center;

  h2 {
    font-family: $primary-font;
    font-size: 35px;
    letter-spacing: 0.12px;
  }

  p {
    font-family: $secundary-font;
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.13;
    letter-spacing: 0.05px;
    color: color(text-secundery);

    a {
      color:color(text-pink);
    }
  }

  @media (max-width: 576px){
    padding: 0 1rem;
  }
}

.nagrade-informacije {
  margin-top: 66px;
  margin-bottom: 41px;

  .box {
    background: #d8d8d8;
    height: 42px;
    margin-right: 12px;
    margin-bottom: 12px;

    &:last-child {
      margin-right: 0px;
    }
  }
  
  .info-top {
    padding-bottom: 57px;
    width: 200px;

    h4 {
      font-family: $primary-font;
      font-size: 18px;
      letter-spacing: 0.13px;
      padding-bottom: 24px;
      margin-bottom: 0px;
    }

    .nagrade {
      min-width: 200px;
      .top-50 {
        padding-right: 19px;
      }
    }
  
    .podrzali {
      padding-left: 30px;

      h4 {
        padding-bottom: 45px;
      }

      .box-1 { width: 114px;}
      .box-2 { width: 81px;}
      .box-3 { width: 109px;}
      .box-4 { width: 114px;}
      .box-5 { width: 81px;}
      .box-6 { width: 109px;}
      .box-7 { width: 114px;}
      .box-8 { width: 104px; }
    }
  }

  .info-bottom {
    h4 {
      font-family: $primary-font;
      font-size: 18px;
      letter-spacing: 0.13px;
      padding-bottom: 24px;
      margin-bottom: 0px;
    }

    .reference {
      .box-9 { width: 121px;}
      .box-10 { width: 85px;}
      .box-11 { width: 121px;}
      .box-12 { width: 85px;}
      .box-13 { width: 64px; margin-right: 52px;}
    }

    .ketering {
      h4 {
        padding-bottom: 4px;
      }

      p {
        margin-bottom: 8px;
      }

      button {
        width: 105px;
        height: 30px;
        padding: 5px 7px 5px 8px;
        border-radius: 1.9px;
        color: white;
        border: none;
        background-color: color(text-pink);
        font-family: $primary-font;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  @media (max-width: 576px) {
    padding: 0 1rem;

    .info-top {
      flex-direction: column;

      .podrzali {
        padding-left: 0px;
        padding-top: 1.5rem;
      }
    }

    .info-bottom {
      flex-direction: column;
    }
  }
}

footer {
  display: flex;
  z-index: 1;
  background-color: color(bg-primary-light);
  position: relative;
  padding-top: 67px;

  .logo-footer {
    width: 272px;
    img {
      width: 176px;
      height: 48px;
    }
    p {
      font-family: $secundary-font;
      font-size: 14px;
      margin-bottom: 0px;
      padding: 17px 0px;
    }

    .drustvene-mreze {
      a {
        padding-right: 20px;

        &:last-child {
          padding-right: 0px;
        }
      }
    }
  }

  .footer-nav {
    padding-left: 61px;
    ul {
      li {
        
        a {
          font-family: $secundary-font;
          font-size: 15px;
          color: color(text-primary);
          letter-spacing: 0.05px;
          margin-bottom: 0;
          padding: 0px;
          padding-bottom: 8px;
        }
      }
    }

    .footer-info-links {
      padding-left: 52px;
      padding-right: 80px;
      ul {
        li {
          a{
            font-size: 14px;
          }
        }
      }
    }
  }

  .prijava-za-posao {
    width: 189px;

    h5 {
      font-family: $secundary-font;
      font-size: 14px;
      color: color(text-pink);
      margin-bottom: 1rem;
    }

    button {
      width: 152px;
      height: 30px;    
      padding: 5px 6px 5px 7px;
      border-radius: 1.9px;
      background-color: color(text-pink);
      border: none;
      font-family: $primary-font;
      font-size: 14px;
      text-align: center;
      color: white;
    }

  }
  
  .sva-prava-zadrzava {
    width: 547px;
    height: 17px;
    padding-top: 56px;
    padding-bottom: 28px;
    font-family: $secundary-font;
    font-size: 12px;
    color: #656565;
  }

  .kriva-footer-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -10;
  }

  .kriva-footer-2 {
    position: absolute;
    bottom:0;
    right: 366px;
    z-index: -10;
  }

  .footer-krofna {
    position: absolute;
    right:0;
    bottom: 0;
    z-index: -10;
  }

  @media (max-width: 576px) {
    padding-top: 2rem;

    .logo-footer {
      padding-left: 1rem;
      width: 100%;
    }

    .footer-nav {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 2rem;
    }

    .prijava-za-posao {
      padding-top: 1rem;
      padding-left: 1rem;
    }

    .sva-prava-zadrzava {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media (max-width: 768px) {
    .footer-nav {
      .footer-info-links {
        padding-right: 0px;
      }
    }

    .footer-krofna {
      display: none;
    }
    
    .kriva-footer-2 {
      right: 0;
    }
  }

  @media (max-width: 1200px) {
    .prijava-za-posao {
      display: block;
      width: 100%;
    }

    .sva-prava-zadrzava {
      padding-top: 2rem;
    }
  }
}